html,body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
body{
    background-image: url(img/1366_2000.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}
#myBtn{
  margin-top: 2%;
  margin-left: 30%;
  color: (171,43,76,255);
}
#myBtn2{
  margin-top: 2%;
  margin-left: 30%;
  color: (171,43,76,255);
}
#myBtn2 p{
  margin: 0px;
  padding: 0px;
}
.container{
  border-radius: 20px;
    padding: 2%;
    margin-top: 30%;
    width: 60%;
    background: white;
    opacity: 95%;
}
.letra{
  text-align: center;
  font-size:(4rem);
}
.letra span{
  color: #2ebb95;
}
@media screen and (max-width: 900px){
  #myBtn{
    margin-top: 2%;
    margin-left: 43%;
    color: (171,43,76,255);
  }
}
@media screen and (max-width: 600px){
  .letra h1{
    font-size: 1rem;
  }
  .letra h2{
    font-size: 0.8rem;
  }
  .letra span{
    color: rgb(235, 70, 9);
  }
  #myBtn{
    margin-top: 2%;
    margin-left: 35%;
    color: (171,43,76,255);
  }
  #myBtn2 p{
    margin: 0px;
    padding: 0px;
    font-size: 0.9rem;
    
  }
  #myBtn2{
    margin-left: 15%;
  }

}
.span2{
    color: orangered;
}

form{
    opacity: 100%;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 33vh; /* Location of the box */
  left: 0;
  top: 0;
  min-height: 400px;
  min-width: 400px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {

  min-height: 200px ;
  min-width: 300px;
  background-color: #fefefe;
  margin: auto;
  padding: 1%;
  border: 1px solid #888;
  width: 20%; 
}
i{
  font-size:larger ;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.btn{
  outline: auto;
  outline-color: solid #ff894b;
  color:#ff894b;
}
.btn:hover{
  outline: auto;
  outline-color: solid #87844b;
  color:#87844b;
}